.amp-social-share-hatena_bookmark {
	font-family: Verdana ;
	background-color: #00A4DE ;
	font-weight: 700 ;
	color: #fff ;
	line-height: 44px ;
	text-align: center ;
	font-size: 28px ;
}
.amp-social-share-pocket {
	background-color: #EF3E55 ;
	color: #fff ;
	line-height: 44px ;
	text-align: center ;
	font-size: 44px ;
}
.amp-social-share-line {
	background-color: #00B900 ;
	color: #fff ;
	line-height: 44px ;
	text-align: center ;
	font-size: 44px ;
}

.page-navigation {
	font-size: 14px;
	display: block;
	width: auto;
	overflow: hidden;
}
.page-navigation a {
	display: block;
	width: 50%;
	float: left;
	margin: 1em 0;
}
.page-navigation .next {
	text-align: right;
}
