<amp-social-share type="system"></amp-social-share>
<amp-social-share type="email"></amp-social-share>
<!-- <amp-social-share type="facebook" data-param-app_id=""></amp-social-share> -->
<amp-social-share type="linkedin"></amp-social-share>
<amp-social-share type="pinterest"></amp-social-share>
<amp-social-share type="gplus"></amp-social-share>
<amp-social-share type="tumblr"></amp-social-share>
<amp-social-share type="twitter"></amp-social-share>
<amp-social-share type="whatsapp"></amp-social-share>
<amp-social-share type="sms"></amp-social-share>
<amp-social-share
  type="hatena_bookmark"
  data-share-endpoint="http://b.hatena.ne.jp/append?SOURCE_URL">
  B!
</amp-social-share>
<amp-social-share
  type="pocket"
  data-share-endpoint="http://getpocket.com/edit?url=SOURCE_URL">
  <i class="fab fa-get-pocket"></i>
</amp-social-share>
<amp-social-share
  type="line"
  data-share-endpoint="http://line.me/R/msg/text/?TITLE%3ASOURCE_URL">
  <i class="fab fa-line"></i>
</amp-social-share>
